@font-face {
  font-family: 'Aller Display';
  src: url('./assets/AllerDisplay_Std_Rg.ttff') format('truetype');
}

body {
  background-color: #1a1a1a;
  color: rgba(255, 255, 255, 0.87);
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100vh;
  font-family: 'Aller Display', sans-serif;
}